:root {
    /* color */
--iris: #4D5AE5;
--ocean: #404BBF;
--navy-blue: #2E2F42;
--green: #31D0AA;
--slate: #434455;
--light-slate: #8E8F99;
--cornflower: #E7E9FC;
--cloud: #F4F4FD;
--navy-blue-modal: #2E2F42;
--grey: #2E2F42;
--white: #FFFFFF;
--dairy: #FCFCFC;

    /* fonts */

    --primary-font: Raleway, sans-serif;
    --secondary-font: Roboto, sans-serif
}

.link {
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
}

.mail,
.tel {
    font-family: var(--secondary-font);
     
     
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.02em;

        color: var(--slate);
        text-decoration: none;
}

.nav-link {
    font-family: var(--secondary-font);
   
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.02em;
        color: var(--navy-blue);
        text-decoration: none;
}
.link:hover {
    color: #404bbf;
  
}
.link:focus {
    color: #404bbf;
}
/* body */
body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
    text-decoration: none;
}


    .visually-hidden {
            position: absolute;
            width: 1px;
            height: 1px;
            margin: -1px;
            border: 0;
            padding: 0;
    
            white-space: nowrap;
            clip-path: inset(100%);
            clip: rect(0 0 0 0);
            overflow: hidden;
        }


/* HEADER */

.section-hero {
    background-color: #2e2f42;
}


.list {
list-style-type: none;
}
 

.navigation-list-item:hover {
color: #404bbf;

}
.navigation-list-item:focus {
    color: #404bbf;
}
.address {
    font-style: normal;
}

.address-list {
font-family: 'Roboto';
    font-style: normal;
 
    font-size: 16px;
    line-height: 1,5;
    letter-spacing: 0.02em;
    color: var(--slate);
    
}


/* BUTTONS */


.button {
background-color: #F4F4FD;
color: #4d5ae5;
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;

        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        
}

.button-index {
    background-color: #4D5AE5;
    cursor: pointer;
    color: #ffffff;
font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em


}

.button:hover {
    background-color: #404BBF;
        color: #FFFFFF;
}
.button-index:focus {
    background-color: #404BBF;
    color: #FFFFFF;
}

.button-index:hover {
    background-color: #404BBF;
    color: #FFFFFF;
}

.button:hover {
    background-color: #404BBF;
    color: #FFFFFF;
}
.button:focus {
    background-color: #404BBF;
    color: #FFFFFF;
}

.header-three {
    
     font-size: 20px;
    line-height: 1.2;
    font-weight: 500;
    letter-spacing: 0.02em;
    color: #2e2f42;
}


.header-three-index {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;

}

.body {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.text-index {
    line-height: 1.5;
    letter-spacing: 0.02em;

}

.main-header {
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 56px;
        text-align: center;
        line-height: 1.07;
        letter-spacing: 0.02em;
        color: var(--white)
        
}

.section-three {
font-size: 36px;
line-height: 1.11;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
color: #2e2f42;

}

.section-four {
    background-color: #F4F4FD;
}

.our-team {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;

}

.section-four-list {
    background-color: #FFFFFF;
}

/* FOOTER */

.footer-main {
    background-color: #2e2f42;
}

.footer-body {
    color: var(--white);
}

.footer {
    background-color: var(--navy-blue);
}

.logo-item {
color: #f4f4fd;
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
   

    line-height: 1.17;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--navy-blue);

}

.logo-item-light {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;

    line-height: 1.17;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--cloud);
}

.navigation-logo {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--iris);
    text-decoration: none;

}

.navigation-list {

    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: var(--brand-color);
    text-decoration: none;

}

.navigation-list {
    text-decoration: none;
    color: var(--navy-blue);

}