*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    /* color */
--iris: #4D5AE5;
--ocean: #404BBF;
--navy-blue: #2E2F42;
--green: #31D0AA;
--slate: #434455;
--light-slate: #8E8F99;
--cornflower: #E7E9FC;
--cloud: #F4F4FD;
--navy-blue-modal: #2E2F42;
--grey: #2E2F42;
--white: #FFFFFF;
--dairy: #FCFCFC;

    /* fonts */

    --primary-font: Raleway, sans-serif;
    --secondary-font: Roboto, sans-serif
}


/* HEADER */
.header-container {
    display: flex;
    margin-top: 24px;
    margin-bottom: 24px;
    align-items: center;
}
.header-nav {
 
}

.main-header {
    padding-top: 188px;
    margin-bottom: 48px;
    width: 496px;
margin-left: 472px;

}

.button-index {
    min-width: 169px;
    min-height: 56px;
    padding: 16px 32px;
    border-radius: 4px;
background: #4D5AE5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

    margin-bottom: 188px;
    margin-left: 636px;
}

.list {
    display: flex;
    gap: 24px;
    justify-content: center;
    padding: 120px 156px;
}

.list-section-two {
    
   
}

.section-two-cont {
width: 1128px;
    justify-content: center;
  
}
.header-three-index {
    display: flex;
    width: 323px;
    margin-bottom: 8px;
}

.text-index {
    display: flex;
        
        width: 264px;
}

img {
    display: block;

}

button {
    cursor: pointer;
}

.container {
    width: 1440px;
    margin: 0 auto;
    padding: 0 15px;

    outline: 2px solid red;
    outline-offset: -2px;

}

.navigation-logo {
margin-right: 76px;
margin-top: 24px;
margin-bottom: 24px;
}

.navigation-list {
    display: flex;
    align-items: center;
    margin-right: auto;
    margin-top: 24px;
    margin-bottom: 24px;
}

.nav-link {
    display: block;
}
.address-list {

}


.link {
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
}

.mail,
.tel {
    font-family: var(--secondary-font);
     
     
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.02em;

        color: var(--slate);
        text-decoration: none;
}

.nav-link {
    font-family: var(--secondary-font);
   
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.02em;
        color: var(--navy-blue);
        text-decoration: none;
        display: block;
}
.link:hover {
    color: #404bbf;
  
}
.link:focus {
    color: #404bbf;
}
/* body */
body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
    text-decoration: none;
}


    .visually-hidden {
            position: absolute;
            width: 1px;
            height: 1px;
            margin: -1px;
            border: 0;
            padding: 0;
    
            white-space: nowrap;
            clip-path: inset(100%);
            clip: rect(0 0 0 0);
            overflow: hidden;
        }


/* HEADER */

.section-hero {
    background-color: #2e2f42;
}


.list {
list-style-type: none;
}
 

.navigation-list-item:hover {
color: #404bbf;

}
.navigation-list-item:focus {
    color: #404bbf;
}
.address {
    font-style: normal;
}

.address-list {
font-family: 'Roboto';
    font-style: normal;
 
    font-size: 16px;
    line-height: 1,5;
    letter-spacing: 0.02em;
    color: var(--slate);
    display: flex;
    
}


/* BUTTONS */


.button {
background-color: #F4F4FD;
color: #4d5ae5;
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;

        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        
}

.button-index {
    background-color: #4D5AE5;
    cursor: pointer;
    color: #ffffff;
font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em


    color: #ffffff;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em

}

.button:hover {
    background-color: #404BBF;
        color: #FFFFFF;
}
.button-index:focus {
    background-color: #404BBF;
    color: #FFFFFF;
}

.button-index:hover {
    background-color: #404BBF;
    color: #FFFFFF;
}

.button:hover {
    background-color: #404BBF;
    color: #FFFFFF;
}
.button:focus {
    background-color: #404BBF;
    color: #FFFFFF;
}

.header-three {
    
     font-size: 20px;
    line-height: 1.2;
    font-weight: 500;
    letter-spacing: 0.02em;
    color: #2e2f42;
}


.header-three-index {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;

}

.body {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.text-index {
    line-height: 1.5;
    letter-spacing: 0.02em;

}

.main-header {
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 56px;
        text-align: center;
        line-height: 1.07;
        letter-spacing: 0.02em;
        color: var(--white)
        
}

.section-three {
font-size: 36px;
line-height: 1.11;
text-align: center;
font-weight: 700;
letter-spacing: 0.02em;
text-transform: capitalize;
color: #2e2f42;

}

.container-three {
 width: 1128;
}
.section-four {
    background-color: #F4F4FD;
}

.our-team {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    font-weight: 700;

}

.our-team {
    padding-top: 120px;
}
.section-four-list {
    background: #FFFFFF;
        box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
        border-radius: 0px 0px 4px 4px;
}

.cont-four {

}

.section-four-list {
    display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0px 0px 32px;
        width: 264px;

       
}

.text-index {
    text-align: center;
    display: flex;
    justify-content: center;
}

.header-three-index {
    padding-top: 32px;
   
}


/* FOOTER */

.footer-main {
    background-color: #2e2f42;
}

.footer-body {
    color: var(--white);
}

.footer {
    background-color: var(--navy-blue);
}

.logo-item {
color: #f4f4fd;
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
   

    line-height: 1.17;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--navy-blue);

}

.logo-item-light {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;

    line-height: 1.17;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--cloud);
}

.navigation-logo {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--iris);
    text-decoration: none;
   
    
}

.navigation-list {

    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: var(--brand-color);
    text-decoration: none;

}

.navigation-list {
    text-decoration: none;
    color: var(--navy-blue);

}

.footer-cont {
    
    padding-left: 156px;
    padding-bottom: 100px;
    padding-top: 100px;
}

.footer-body {
    width: 264px;
}